<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="../form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        function storeEmotion(emo) {
            var emotion = emo;

        }
    </script>
</head>
<body>
    <div>
        <h1>How are you feeling today?</h1>
        <img class="emoji" id="cry" type="image" src="https://www.flaticon.com/svg/static/icons/svg/742/742753.svg" >
        <img class="emoji" id="sad" type="image" src="https://www.flaticon.com/svg/static/icons/svg/742/742752.svg" >
        <img class="emoji" id="neutral" type="image" src = " https://www.flaticon.com/svg/static/icons/svg/742/742774.svg" >
        <img class="emoji" id="happy" type="image" src = "https://www.flaticon.com/svg/static/icons/svg/742/742940.svg" >
        <img class="emoji" id="laugh" type="image" src = "https://www.flaticon.com/svg/static/icons/svg/742/742920.svg" >
    </div>



    <div id="yeah">

        
            <input class= "click" name="drone" type="radio" id="cryt" value="cry">
          
            <input class="click" name="drone" type="radio" id="sadt" value="sad">
            
            <input class="click" name="drone" type="radio" id="Meht" value="Meh">
           
            <input class="click" name="drone" type="radio" id="Contentt" value="Content">
         
            <input class= "click" name="drone" type="radio" id="Excitedt" value="Excited">
           
          
    </div>

    <h4>Anxious</h4>
    <h5>Sad</h5>
    <h6>Meh</h6>
    <h7>Content</h7>
    <h8>Excited</h8>

    <div>
        <h2>Describe your day</h2>
        <textarea class="TextMood" cols="30" rows="10"></textarea>
        <!-- <input type="text" id="textbox" name="textbox"> -->
        
        
        <a class="submit" href="http://localhost:3000/">Submit</a>
        
    </div>

    </form>

</body>
</html>