body {
    background-color: rgb(207, 207, 216);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: white;
    height: 46px;
    width: 100%;
}

.header-text {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    position: absolute;
}

.home-icon {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

#content-container {
    display: none;
    position: relative;
    top: 15px;
    width: 70%;
    margin: auto;
    background-color: white;
}

.stat-container {
    position: relative;
    background-color: white;
    height: 100px;
    width: 49%;
    text-align: center;
}

.stat-desc {
    padding-top: 10px;
    font-size: 16px;
}

.stat {
    padding-top: 13px;
    font-size: 32px;
    color:#3d45a4;
    font-weight: bold;
}

.graph-container {
    margin-top: 15px;
    position: relative;
    background-color: white;
    height: 350px;
    width: 49%;
    text-align: center;
}

.graph {
    margin-top: 30px;
}

.table-container {
    margin-top: 15px;
    position: relative;
    background-color: white;
    height: 350px;
    width: 49%;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form {
    padding: 16px;
}

/* .close-container {
    text-align: right;
    position: relative;
} */

/* The Close Button (x) */
/* .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
} */

/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    /* position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 400px; 
}

#login-button {
    background-color: #F47E7E;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 15px;
}

#login-submit-button {
    background-color: #F47E7E;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}
  
#login-submit-button:hover {
    opacity: 0.8;
}

#invalid-password-warning {
    display: none;
    color: red;
    width: 100%;
}