html, body {
    height: 100%;
}

#board {
    background-image: url('./images/background-image.png');
    height: 100%;
    width: 100%;
}

#board-heading {
    padding-top: 18px;
    /* padding-top: 2%; */
    position: relative;
    text-align: center;
    font-size: 34px;
    /* font-size: 3vw; */
}

#add-mood-button {
    background-color: #F47E7E;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 22px;
    /* margin-top: 2%; */
    width: 190px;
    /* width: 17%; */
    font-size: 17px;
    /* font-size: 1.5vw; */
    font-weight: 600;
    padding: 8px;
    /* padding: 0.7%; */
    text-decoration: none;
}

#stickies {
    position: relative;
    top: 10px;
    width: 1100px;
    height: 500px;
    margin: auto;
}

.sticky {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 40px;
    font-size: 12px;
    background-size: 50px 50px;
    padding-top: 10px;
    text-align: center;
}

.sticky-text {
    display: none;
}

.sticky-popup {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 480px;
    height: 480px;
    top: 150px;
    text-align: center;
    line-height: 480px;
}

.popup-description {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 24px;
}

.close-button {
    display: block;
    position: relative;
    top: -460px;
    left: 430px;
    cursor: pointer;
}

.popup-mood {
    line-height: 0;
    position: absolute;
    font-size: 50px;
    top: 50px;
    margin: auto;
    width: 480px;
}