html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

#board {
    background-image: url('./images/background.png');
    height: 100%;
    width: 100%;
}

#board-heading {
    padding-top: 15px;
    /* padding-top: 2%; */
    position: relative;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    /* font-size: 3vw; */
}

#add-mood-button {
    background-color: #F47E7E;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 22px;
    /* margin-top: 2%; */
    width: 200px;
    /* width: 17%; */
    font-size: 17px;
    /* font-size: 1.5vw; */
    font-weight: 400;
    padding: 8px;
    /* padding: 0.7%; */
    text-decoration: none;
}

#stickies {
    position: relative;
    top: 20px;
    width: 1350px;
    height: 625px;
    margin: auto;
}

.sticky {
    position: absolute;
    cursor: pointer;
    width: 44px;
    height: 42px;
    font-size: 11px;
    background-size: 50px 50px;
    padding-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    word-wrap: break-word;
}

.sticky-text {
    display: none;
}

.sticky-popup {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 480px;
    height: 480px;
    top: 150px;
    text-align: center;
    line-height: 480px;
}

.popup-description {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 24px;
}

.close-button {
    display: block;
    position: relative;
    top: -460px;
    left: 430px;
    cursor: pointer;
}

.popup-mood {
    line-height: 0;
    position: absolute;
    font-size: 50px;
    top: 50px;
    margin: auto;
    width: 480px;
}

#logo {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }