.form-container {
    width: 800px;
    height: 1000px;
    /* background-color: rgb(255, 255, 221);  */
    margin: auto;
    position: relative;
}

.heading {
    position: relative;
    font-size: 36px;
    margin: auto;
    width: 400px;
    top: 50px;
}


.form-content {
    position: relative;
    top: 150px;
    /* background-color: aqua; */
}

.emojis {
    position: relative;
    width: 520px;
    margin: auto;
    display: flex;
    
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* IMAGE STYLES
[type=radio] + img + [class=caption] {
    cursor: pointer;
    position: relative;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
} */


/* IMAGE STYLES */
.emoji {
    cursor: pointer;
    position: relative;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 3px solid black;
}

.caption {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.description-container {
    position: relative;
    top: 30px;
    width: 500px;
    margin: auto;
}

.description-text {
    text-align: center;
    font-weight: lighter;
}

.description-box {
    top: 20px;
    position: relative;
    margin: auto;
    width: 458px;
}

textarea {
    resize: none;
    font-size: 15px;
}

.submit-button {
    display: block;
    position: relative;
    top: 300px;
    margin: auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
}