html, body {
    height: 100%;
    /* width: 100%; */
}

#board {
    background-image: url('./images/background-image.png');
    height: 100%;
    width: 100%;
}

#board-heading {
    padding-top: 22px;
    /* padding-top: 2%; */
    position: relative;
    text-align: center;
    font-size: 34px;
    /* font-size: 3vw; */
}

#add-mood-button {
    background-color: #F47E7E;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 22px;
    /* margin-top: 2%; */
    width: 190px;
    /* width: 17%; */
    font-size: 17px;
    /* font-size: 1.5vw; */
    font-weight: 600;
    padding: 8px;
    /* padding: 0.7%; */
    text-decoration: none;
}


#stickies {
    position: relative;
    width: 1130px;
    height: 510px;
    margin: auto;
}
/* 
.sticky {
    display: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100px;
} */
