html, body {
    height: 100%;
    /* width: 100%; */
}

#board {
    background-image: url('./images/background-image.png');
    height: 100%;
    width: 100%;
}

#board-heading {
    /* padding-top: 40px; */
    padding-top: 2%;
    position: relative;
    text-align: center;
    /* font-size: 50px; */
    font-size: 3vw;
}

#add-mood-button {
    background-color: #F47E7E;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 2%;
    /* width: 280px; */
    width: 17%;
    font-size: 1.5vw;
    padding: 0.7%;
    text-decoration: none;
}

/* 
.sticky {
    display: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100px;
} */
