html, body {
    height: 100%;
    /* width: 100%; */
}

#board {
    background-image: url('./images/background-image.png');
    height: 100%;
    width: 100%;
}

#board-heading {
    padding-top: 40px;
    position: relative;
    text-align: center;
    font-size: 50px;
}

#add-mood-button {
    background-color: #F47E7E;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 280px;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}


.sticky {
    display: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100px;
}

.neutral {
    background-color: lightgreen;
    display: absolute;
    margin-left: 300px;
    margin-top: 50px;
}

.happy {
    background-color: yellow;
    display: absolute;
    margin-left: 600px;
    margin-top: 50px;
}

.sad {
    background-color: lightblue;
    display: absolute;
    margin-left: 100px;
    margin-top: 20px;
}

.anxious {
    background-color: mediumslateblue;
    display: absolute;
    margin-left: 1000px;
    margin-top: -300px;
}

.excited {
    background-color: orange;
    display: absolute;
    margin-left: 800px;
    margin-top: -100px;
}